.main-banner {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    max-width: var(--container-maxw);
    overflow: visible;
}

.main-pic {
    max-width: 140%;
}

.main-section {
    text-align: center;
    padding: 20px;
    overflow-x: hidden;
}

.main-section > h1 {
    font-size: 2.75rem;
    font-weight: bolder;
}

.main-p {
    padding: 10px 30px;
    line-height: 1.6;
    color: var(--gray-vio);
}

.btn-main {
    padding: 15px 30px;
    border-radius: 100px;
    margin: 20px 0;
}

@media (min-width: 768px) {
    .main-banner {
        flex-direction: row;
        max-width: var(--container-maxw-desktop);
    }

    .main-section {
        text-align: left;
        overflow-x: visible;
        padding-left: 0;
    }

    .main-section > h1 {
        font-size: 3.5rem;
        line-height: 1.15;
    }

    .main-pic {
        width: 120%;
        position: relative;
        left: 3em;
    }

    .main-banner-p {
        padding: 0 !important;
    }
}
