:root {
    --margin: 20px 0;
    --padding: 30px;
    --radius: 12px;
    --inputs-radius: 5px;
    --inputs-padding: 12.5px 0;
    --displaymargin: 1.5em 0;
    --btn-clear-radius: 12px;
    --btn-clear-padding: 10px 20px;
    --lipadding: 5px 15px;
}

/* TODO: add bg image!! */

.error-input-msg {
    color: var(--red);
    font-style: italic;
}

.error-input-field {
    border: 3px solid var(--red) !important;
    color: var(--red) !important;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/images/bg-shorten-mobile.svg") !important;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: var(--dark-vio);
    padding: var(--padding);
    margin: var(--margin);
    border-radius: var(--radius);
    gap: 15px;
}

.input-main {
    background-color: white;
    padding: 15px;
    border-radius: var(--inputs-radius);
    font-size: 1em;
    border: none;
}

.input-btn {
    padding: var(--inputs-padding);
    border-radius: var(--inputs-radius);
}

.input-btn:disabled {
    background-color: var(--gray-vio);
    cursor: not-allowed;
}

.display-box {
    background-color: white;
    border-radius: var(--inputs-radius);
    margin: var(--displaymargin);
    padding: 17.5px 0;
}

.display-box > ul > li {
    padding: var(--lipadding);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.display-box > ul > li > button {
    margin: 0 !important;
}

.display-short {
    color: var(--cyan);
}

.btn-copy {
    margin: 10px 0 5px;
    width: 100%;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-copied {
    background-color: var(--dark-vio) !important;
}

.display-clear-data {
    color: var(--red);
    border: 3px solid var(--red);
    width: max-content;
    margin: 50px auto;
    padding: var(--btn-clear-padding);
    border-radius: var(--btn-clear-radius);
    cursor: pointer;
}

.display-clear-data:active {
    background-color: var(--red);
    color: white;
}

.boost-link-box {
    text-align: center;
    padding: 20px;
    height: 16.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--dark-vio);
    background-image: url("../../assets/images/bg-boost-mobile.svg");
    background-position: right;
    background-repeat: no-repeat;
}

.boost-link-box > a > button {
    margin-bottom: 0 !important;
}
