@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
}

:root {
  --gray: hsl(0, 0%, 75%);
  --gray-light: #f0f1f6;
  --gray-vio: hsl(257, 7%, 63%);
  --very-dark: hsl(255, 11%, 22%);
  --very-dark-vio: hsl(260, 8%, 14%);
  --cyan: hsl(180, 66%, 49%);
  --cyan-light: hsl(180, 66%, 65%);
  --dark-vio: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --red-light: hsl(0, 87%, 77%);

  --container-padding: 0 20px;
  --container-maxw: 120ch;
  --container-maxw-desktop: 95ch;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

.objectfit {
  object-fit: contain;
}

.btn {
  font-size: 1em;
  font-weight: bold;
  background-color: var(--cyan);
  border: none;
  color: white;
  cursor: pointer;
  transition: 500ms all ease-in-out;
}

.btn:active {
  background-color: var(--cyan-light);
  transition: 150ms all ease-in-out;
}

.main-container {
  margin: 0 auto;
  padding: var(--container-padding);
  max-width: var(--container-padding);
  z-index: -10;
}

hr {
  height: 1px;
  width: 100%;
  background-color: #fafafa11;
  margin: 5px 0;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

@media (min-width: 768px) {
  .main-container {
    margin-top: 5em;
  }
}
